<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Drupal and the Future of You</title>

    <meta name="author" content="Larry Garfield, Jeff Eaton">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="palantir/palantir.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->


    <style type="text/css">

    .palantir-logo {
      position: absolute;
      width: 500px;
      bottom: 3em;
      left: 3em;
    }

    .palantir-logo img {
      margin-right: 10px;
      vertical-align: baseline;
    }

    ul.inline {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }

    ul.inline li {
      display: inline;
    }

    *.topspace {
      margin-top: 1em;
    }


    ul.contributor-list img {
      max-width: 180px;
      max-height: 180px;
      border: 0px;
      background: transparent;
    }
    ul.contributor-list li {
      list-style: none;
      display: block;
      width: 180px;
      float: left;
      margin: 10px;
    }
    ul.contributor-list li:nth-child(5n) {
     clear: left;
    }

    ul.contributor li figcaption {
      text-wrap: none;
    }

    </style>

    <script>
(function() {
  // The countup utility. Any element with a number value and an attribute
  // of "data-countup" will get set to zero and then counted up to its original
  // value when it is shown.  The value of the data-counter attribute will be
  // the

  var counterIndex;

  document.addEventListener('DOMContentLoaded', function() {
    Array.prototype.forEach.call(document.querySelectorAll('[data-countup]'), function(el, i) {
      // If there's no ID, set one.
      el.id = el.id || 'counter-' + counterIndex++;
      runCounter(el.id, el.getAttribute('data-countup'));
    });
  });

  var runCounter = function(id, delay) {
    Reveal.addEventListener( 'fragmentshown', function( event ) {
      if (event.fragment.id === id) {
        var fragment = event.fragment;
        var max = parseInt(fragment.textContent);
        var step = parseInt(fragment.getAttribute('data-countup-step')) || 1;
        event.fragment.textContent = 0;
        var counter = function() {
          if (fragment.textContent < max) {
            fragment.textContent = Math.min(parseInt(fragment.textContent) + step, max);
            setTimeout(counter, delay);
          }
        };
        setTimeout(counter, delay);
      }
    });
  };

})();
    </script>

  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <section>
            <h1>Drupal, the Future, and You</h1>
            <p>
              <small>Presented by <a href="http://www.garfieldtech.com/">Larry Garfield</a> and <a href="http://www.angrylittletree.com/">Jeff Eaton</a></small>
            </p>
          </section>
          <section>
            <h2><a href="http://twitter.com/Crell">@Crell</a></h2>
            <img src="palantir/palantirnet-logo-4c-reversed.svg" alt="Palantir.net Pays me!" style="width: 300px; float: right;" />
            <ul>
              <li>Senior Architect, <a href="http://www.palantir.net/">Palantir.net</a></li>
              <li>Drupal 8 Web Services Lead</li>
              <li>Drupal Representative, <a href="http://www.php-fig.org/">PHP-FIG</a></li>
              <li>Advisor, Drupal Association</li>
              <li>Loveable pedant</li>
            </ul>
          </section>
          <section>
            <h2><a href="http://twitter.com/eaton">@eaton</a></h2>
            <img src="assets/lullalogo_horizontal_red.svg" alt="Lullabot Pays me!" style="width: 300px; float: right;" />
            <ul>
              <li>Digital Strategist, <a href="http://www.lullabot.com/">Lullabot</a></li>
              <li>Co-author, <i>Using Drupal</i> 1<small><sup>st</sup></small> edition</li>
              <li>Host, <i>Insert Content Here</i></li>
              <li>Drupal.org Content Working Group</li>
              <li>Content strategy rabble-rouser</li>
            </ul>
          </section>
        </section>
        <section data-background="assets/drupal-delorean.jpg">
          <div style="font-weight: bold; position: relative; top: 10em; text-shadow: 2px 2px 2px #000;">
            <p>Presenting... the future!</p>
          </div>
        </section>
        <section>
          <img src="assets/drupal-8-logo.png" alt="Drupal 8" data-credit="https://drupal.org/node/2119739" />
        </section>

        <section>
          <section>
            <p>The world as we know it</p>
            <img src="assets/drupal-7-logo.jpg" alt="Drupal 7" data-credit="https://association.drupal.org/files/drupal-7-logo.jpg" />
          </section>

          <section>
            <h3 class="top-align inverse">2% of the Web runs Drupal</h3>
            <img src="assets/drupalsites.png" alt="2% of the web runs Drupal" />
          </section>
          <section>
            <img src="assets/drupalcon-portland.jpg" alt="Drupal's community is enormous" />
            <aside class="notes">
              <ul>
                <li>DrupalCon Portland attandance: Over 3,300</li>
              </ul>
            </aside>
          </section>
          <section>
            <img src="assets/oss-community-size.png" alt="Drupal's community is enormous" />
          </section>
          <section>
            <h3>20,000+ new Drupal 7 sites every month</h3>
            <img src="assets/drupal7-usage-stats.png" alt="Drupal 7 usage stats" />
          </section>
          <section>
            <p>Contributors to Drupal 7</p>
            <img src="assets/d7-contributor-cloud-huge.png" style="height: 500px;" alt="Name cloud of D7 contributors" data-credit="https://drupal.org/drupal-7-released" />
            <p class="fragment bigtext" data-countup="1" data-countup-step="5">954</p>
          </section>
          <section>
            <p>Just one teeny little problem...</p>
            <img class="fragment" src="assets/dries-college.jpg" alt="Dries in College" />
          </section>
          <section>
            <p>Drupal is an <em>13 year old</em>, <em>PHP 4-based</em> extensible
              <em>Slashdot clone</em> originally written by a Belgian <em>college kid</em>.</p>
          </section>
          <section>
            <img src="assets/drupal-to-desktop.png" alt="Drupal was build for a desktop world" />
          </section>
          <section>
            <img src="assets/mobile-planet.png" alt="The future is mobile" />
          </section>
          <section>
            <img src="assets/drupal-connected.png" alt="The future of Drupal is mobile" />
          </section>
          <section>
            <img src="assets/kitten-will-fix.jpg" alt="Kitten will fix it" data-credit="http://icanhascheezburger.com/2007/01/12/wait-ill-fix-it-2/" />
          </section>
          <section>
            <h2>The mission...</h2>
            <blockquote>Drupal needs to evolve, and quickly, from a
              first-class web CMS into a first-class REST server that includes a
              first-class web CMS.</blockquote>
          </section>
          <section>
            <h2>Hello, Drupal 8.</h2>
            <img src="assets/drupal8-kick-ass.jpg" alt="Drupal 8 will kick ass" style="height: 400px" />
          </section>
        </section>
        <section>
          <section>
            <p class="bigtext">Drupal 8 is a new generation<br />PHP framework/CMS</p>
            <aside class="notes">
              <ul>
                <li>PHP Renaissance</li>
              </ul>
            </aside>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>PHP 4 architecture</p>
                <img src="assets/php4-small.gif" style="width: 143px;" alt="PHP 4" data-credit="http://www.londonbikeandscooter.co.uk/tech.htm" />
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>PHP 5.4 architecture</p>
                <img src="assets/php5.png" style="width: 143px;" alt="PHP 4" data-credit="http://php5.phpmagazine.net/" />
              </div>
            </div>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>Everything is a Page</p>
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>Everything is a response</p>
              </div>
            </div>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>All home grown</p>
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>Embrace other communities and tools</p>
              </div>
            </div>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>A good start for a CMS</p>
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>Fully capable from day 1</p>
              </div>
            </div>
          </section>
        </section>
        <section>
          <section>
            <h1>For the site owner</h1>
            <p class="bigtext fragment roll-in"><q>Drupal 8 is finally useful</q></p>
          </section>
          <section>
            <p>Drupal 7 gave us Fields API...</p>
            <p class="fragment">... Drupal 8 gives us Fields to use</p>
            <ul>
              <li class="fragment">Entity Reference</li>
              <li class="fragment">Date</li>
              <li class="fragment">Link</li>
              <li class="fragment">Email</li>
              <li class="fragment">Telephone</li>
            </ul>
            <aside class="notes">
              Telephone is the last bullet.
            </aside>
          </section>
          <section>
            <h2>Views in core</h2>
            <img src="assets/drupal8-views.png" alt="Views admin in Drupal 8" />
            <aside class="notes">
              <ul>
                <li>We can remove a ton of one-off admin code and use Views.</li>
                <li>"Recent comments" block, why custom code/config? Not anymore.</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>/admin/content</h2>
            <img src="assets/drupal8-admin-content.png" alt="Content admin is now a view" />
            <aside class="notes">
              <ul>
                <li>admin/content isn't an override, it's the actual view</li>
                <li>Note VBO-like functionality</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Why Views matters</h2>
            <img class="fragment" src="assets/drupal7-usage-stats.png" alt="Drupal 7 usage stats" />
            <aside class="notes">
              <ul>
                <li>Drupal 7 released January 2011</li>
                <li>Views RC released June 2011</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Drupal 8</h2>
            <ul>
              <li class="fragment">Content modeling</li>
              <li class="fragment">Content assembly</li>
              <li class="fragment">Content delivery</li>
            </ul>
            <p class="fragment bigtext" style="margin-top: 1em;">If you're a content strategist,<br />Drupal 8 speaks your language.</p>
          </section>
          <section>
            <h2>Configuration Management</h2>
            <p class="fragment roll-in">Because database config is for lusers</p>
          </section>
          <section>
            <h2>Features: Fail</h2>
            <p class="fragment">Poor deployment tool</p>
            <p class="fragment">...Because it's not a deployment tool</p>
            <p class="topspace fragment">Drupal 7 has no common configuration system!</p>
          </section>
          <section>
            <h2>Configuration system</h2>
            <ul>
              <li class="fragment">Config on-disk</li>
              <li class="fragment">Config staging/import built in</li>
              <li class="fragment">Features/ctools exportables no longer exist</li>
            </ul>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/config-deploy.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
          </section>
          <section>
            <p>All right there, right from the new multilingual installer...</p>
            <img src="assets/d8-install.png" class="fragment" alt="The new Drupal 8 installer" />
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/translation.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
          </section>
        </section>
        <section>
          <section>
            <h1>For the end user</h1>
          </section>
          <section>
            <p class="bigtext">zOMG WYSIWYG in core!!1!</p>
            <aside class="notes">
              <ul>
                <li>CKEditor by default, tight coupling, better integration.</li>
                <li>Whole edit page experience is vastly improved.</li>
              </ul>
            </aside>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/edit-form-changes.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
            <aside class="notes">
              <ul>
                <li>But we didn't stop there.</li>
                <li>Rich-text editor isn't actually WYSIWYG</li>
              </ul>
            </aside>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/edit-in-place.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
          </section>
          <section>
            <h1>Best</h1>
            <h1 class="fragment">Accessibility</h1>
            <h1 class="fragment">Ever</h1>
            <aside class="notes">
              <ul>
                <li>2010, Everett Zufelt presents on accessibility</li>
                <li>Best accessibility of any OSS platform, but could be better</li>
                <li>So we made it better...</li>
              </ul>
            </aside>
          </section>
          <section>
            <p class="bigtext">WAI-ARIA all the things!</p>
            <p class="bigtext fragment">Keyboard control</p>
            <aside class="notes">
              <ul>
                <li>Have you ever felt like Drupal was trying to talk to you?</li>
              </ul>
            </aside>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/drupal8-accessibility.m4v" data-credit="Dries Buytaert, Acquia" />
            </video>
            <aside class="notes">
              <ul>
                <li>Note in-place editor! Ties in with aural support.</li>
                <li>Devs have access to Drupal.announce() to speak as needed.</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Correction...</h2>
            <p><q class="fragment">Those responsible for the previous<br />videos have been sacked.</q></p>
            <p class="fragment">Bye bye Overlay...</p>
            <img src="assets/d8-back-to-site.png" class="fragment" alt="The Drupal 8 Back to Site button" />
            <aside class="notes">
              <ul>
                <li>Show of hands, who always disabled overlay?</li>
                <li>We replaced 1000 lines of fugly JS hacks... with a button.</li>
                <li>JS sessionStorage: Modern browsers</li>
              </ul>
            </aside>
          </section>
          <section>
            <q>But how do I use all of this new fangledness?</q>
            <h3 class="fragment" style="margin-top: 1em;">Tour module to the rescue</h3>
            <p class="fragment">(aka "Help module wishes it were this cool")</p>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/d8-tour.webm" data-credit="Larry Garfield" />
            </video>
          </section>
        </section>
        <section>
          <section>
            <h1>For themers</h1>
          </section>
          <section>
            <h2>Out with the old...</h2>
            <ul class="inline">
              <li class="fragment"><img src="assets/ie6-crossed.jpg" alt="Good bye, IE 6" style="width: 250px" data-credit="http://hanifhasan91.blogspot.com/2012/11/5-prediction-web-in-2012.html" /></li>
              <li class="fragment"><img src="assets/ie-crossed.jpg" alt="Good bye, IE 7" style="width: 250px" data-credit="http://www.nursingjobs.us/blog/ie7-users-we-need-to-talk/" /></li>
              <li class="fragment"><img src="assets/ie8-crossed.jpg" alt="Good bye, IE 8" style="width: 250px" data-credit="http://www.promenadedln.com/microsoft/internet-explorer-8-offre-une-nouvelle-vision-des-sites-internet-477.html" /></li>
            </ul>
            <p class="fragment topspace">(There's an <a href="http://drupal.org/project/ie8">IE8 module</a> if you really need)</p>
          </section>
          <section>
            <h2>In with the new</h2>
            <ul class="inline fragment" style="background: white;">
              <li><img src="assets/html5-logo-wordmark.svg" alt="HTML5" style="width: 200px;" data-credit="http://commons.wikimedia.org/wiki/File:HTML5_logo_and_wordmark.svg" /></li>
              <li><img src="assets/css3-logo-wordmark.svg" alt="CSS3" style="width: 200px;" data-credit="http://ohdoylerules.com/web/css3-badge-logo-in-svg" /></li>
            </ul>
            <p class="fragment"><img src="assets/umichmed-lead.jpg" style="width: 400px;" alt="Responsive Design" data-credit="http://www.palantir.net/blog/university-michigan-medical-school-gets-responsive-treatment" /></p>
            <aside class="notes">
              <ul>
                <li>Everything is responsive out of the box.</li>
                <li>Semantic elements; header, footer, section, aside, etc.</li>
                <li>No more silly classes to duplicate CSS3 functionality.</li>
              </ul>
            </aside>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/d8-toolbar.webm" />
            </video>
            <aside class="notes">
              <ul>
                <li>New toolbar, prettier than old one, includes shortcuts</li>
                <li>Modules now "Extend"</li>
                <li>Small screen, everything responsive!</li>
                <li>In vertical mode toolbar is nested</li>
                <li>Can always put toolbar in vertical if you prefer</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>HTML5 Forms</h2>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/html5-fields.webm" />
            </video>
            <aside class="notes">
              <ul>
                <li>Did anyone notice that we just created a node from a phone???</li>
              </ul>
            </aside>
          </section>
          <section>
            <p class="bigtext">Lines of Javascript by default: <em class="fragment bigtext">0</em></p>
          </section>
          <section>
            <h2>Oh wow, such libraries!</h2>
            <div style="background: White;">
              <ul class="inline">
                <li class="fragment"><a href="http://jquery.com/"><img src="assets/jquery-logo.svg" style="width: 30%;" alt="jQuery" data-credit="http://en.wikipedia.org/wiki/File:JQuery_logo.svg" /></a></li>
                <li class="fragment"><a href="http://jqueryui.com/"><img src="assets/jquery-ui-logo.svg" style="width: 30%;" alt="jQuery UI" data-credit="http://en.wikipedia.org/wiki/File:JQuery_UI_Logo.svg" /></a></li>
              </ul>
              <div class="fragment"><a href="http://backbonejs.org/"><img src="assets/backbone-logo.png" style="width: 30%;" alt="Backbone JS" /></a></div>
              <div class="fragment"><br /><a href="http://underscorejs.org/"><img src="assets/underscore-logo.png" style="width: 30%;" alt="Underscore JS" /></a></div>
            </div>
            <aside class="notes">
              <ul>
                <li>We had jQuery and jQuery UI. Now they're at the new versions.</li>
                <li>jQuery 2.0: Faster, less legacy cruft.</li>
                <li>New tools for new fancy.</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Twig</h2>
            <img src="assets/twig-logo.png" alt="Twig the Templating engine" />
            <aside class="notes">
              <ul>
                <li>D6: We think themers want this.</li>
                <li>D7: Maybe they want this instead? (eeek!)</li>
                <li>D8: OK, OK... what do you want? (TWIG!)</li>
                <li>Largest team of any task in Drupal 8; lots of themers</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>node.tpl.php</h2>
            <pre><code class="stretch php" data-trim>
&lt;div id="node-&lt;?php print $node->nid; ?>" class="&lt;?php print $classes; ?> clearfix"&lt;?php print $attributes; ?>>

  &lt;?php print $user_picture; ?>

  &lt;?php print render($title_prefix); ?>
  &lt;?php if (!$page): ?>
    &lt;h2&lt;?php print $title_attributes; ?>>&lt;a href="&lt;?php print $node_url; ?>">&lt;?php print $title; ?>&lt;/a>&lt;/h2>
  &lt;?php endif; ?>
  &lt;?php print render($title_suffix); ?>

  &lt;?php if ($display_submitted): ?>
    &lt;div class="submitted">
      &lt;?php print $submitted; ?>
    &lt;/div>
  &lt;?php endif; ?>

  &lt;div class="content"&lt;?php print $content_attributes; ?>>
    &lt;?php
      hide($content['comments']);
      hide($content['links']);
      print render($content);
    ?>
  &lt;/div>

  &lt;?php print render($content['links']); ?>

  &lt;?php print render($content['comments']); ?>

&lt;/div>
</code></pre>
            <aside class="notes">
              <ul>
                <li>Very verbose</li>
                <li>PHP syntax is a turnoff</li>
                <li>Easy to make security mistakes (SQL in templates)</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>node.html.twig</h2>
            <pre><code class="stretch twig" data-trim>
&lt;article id="node-{{ node.id }}" class="{{ attributes.class }} clearfix"{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    &lt;h2{{ title_attributes }}>
      &lt;a href="{{ node_url }}" rel="bookmark">{{ label }}</a>
    &lt;/h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    &lt;footer>
      {{ user_picture }}
      &lt;p class="submitted">{{ submitted }}</p>
    &lt;/footer>
  {% endif %}

  &lt;div{{ content_attributes }}>
    {# We hide links now so that we can render them later. #}
    {% hide(content.links) %}
    {{ content }}
  &lt;/div>

  {{ content.links }}

&lt;/article>
</code></pre>
          </section>
          <section>
            <p>And one more thing...</p>
            <p class="fragment bigtext" style="margin-top: 2em;">Now with 25% fewer divs<sup>*</sup></p>
            <p class="fragment" style="margin-top: 5em; text-align: left;"><small>* Compared to the previous leading Drupal.<br />Actual divs may vary by custom theme.<br />Offer void on IE 6.</small></p>
            <aside class="notes">
              <ul>
                <li>Still a work in progress, esp. Views</li>
                <li>If you want to help, join Morten's div-elimination army</li>
              </ul>
            </aside>
          </section>
        </section>
        <section>
          <section>
            <h1>For developers</h1>
            <h2 class="fragment roll-in">OOP: there it is</h2>
          </section>
          <section>
            <img src="assets/php54.png" alt="Drupal now requires PHP 5.4" />
            <aside class="notes">
              <ul>
                <li>Not just new lang features; new philosophy</li>
                <li>D7 didn't reinvent for new lang; D8 does</li>
                <li>Biggest changes are here</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>PHP 5.4 architecture</h2>
            <ul>
              <li class="fragment">Interface-driven development</li>
              <li class="fragment">Loose coupling</li>
              <li class="fragment">"Hack core without hacking core"</li>
              <li class="fragment">Fewer Drupalisms</li>
            </ul>
          </section>
          <section>
            <img src="assets/drufony.png" alt="Drufony" />
          </section>
          <section>
            <h3><del>Not Invented Here</del></h3>
            <h3 class="fragment">Proudly Invented Elsewhere</h3>
            <img class="fragment" src="assets/pie.jpg" style="width: 75%" alt="Proudly Invented Elsewhere is tasty." data-credit="http://www.flickr.com/photos/jaypeg/300749794/" />
          </section>
          <section>
            <h2>Proudly Invented Elsewhere</h2>
            <ul>
              <li class="fragment">Symfony2 <small>(HttpFoundation, HttpKernel, DependencyInjection, EventDispatcher, Routing, Serializer, Validator, Yaml)</small></li>
              <li class="fragment">Symfony CMF</li>
              <li class="fragment">Zend Feed</li>
              <li class="fragment">Doctrine Annotations</li>
              <li class="fragment">Guzzle</li>
              <li class="fragment">EasyRDF</li>
              <li class="fragment">Assetic</li>
              <li class="fragment">Twig</li>
            </ul>
          </section>
          <section>
            <h2>Plugins</h2>
            <ul>
              <li class="fragment">ctools plugins, but good</li>
              <li class="fragment"><q>Learn once, apply everywhere</q> &mdash;Lee Rowlands</li>
              <li class="fragment">Interface-driven, self-documenting</li>
            </ul>
          </section>
          <section>
            <h2>Entities/Nodes</h2>
            <p>Unified API... <span>finally!</span></p>
            <aside class="notes">
              <ul>
                <li>Fields make sense</li>
                <li>Nodes/entities are for-reals objects w/ interfaces</li>
                <li>Fiel, widgets, formatters are plugins, like everything else</li>
              </ul>
            </aside>
          </section>
          <section>
            <img src="assets/test-all-the-things.jpg" alt="Unit test ALL THE THINGS!" />
          </section>
          <section>
            <h2>PHPUnit</h2>
            <img src="assets/phpunit.png" alt="PHPUnit" />
            <aside class="notes">
              <ul>
                <li>Industry standard unit testing</li>
                <li>Blazing fast compared to Simpletest</li>
                <li>Simpletest still lives... for now</li>
                <li>If you can't PHPUnit it, you're not done</li>
              </ul>
            </aside>
          </section>
          <section>
            <p>RESTful pipeline</p>
            <p class="fragment">... HTML is just REST</p>
          </section>
          <section>
            <h2>HAL API for entities</h2>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/web-services.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
          </section>
        </section>
        <section>
          <section>
            <h2>For existing users</h2>
          </section>
          <section>
            <h2>Upgrading?</h2>
            <ul>
              <li class="fragment">Upgrading the DB from 6->7 was <em>hard</em></li>
              <li class="fragment">Upgrading the DB to Drupal 8 would be harder</li>
              <li class="fragment">So... don't</li>
            </ul>
          </section>
          <section>
            <h2>Migrate!</h2>
            <img class="fragment" src="assets/migration-kenya.jpg" alt="Migration" data-credit="http://www.flickr.com/photos/jameshammond/8733249464" />
            <p class="fragment">Migration system in core</p>
            <p class="fragment">Migrate directly from Drupal 6 (Drupal 7 soon)</p>
            <p class="fragment">Migrate from any system</p>
          </section>
        </section>
        <section>
          <section>
            <h2>Want Drupal 8 yet?</h2>
            <h2 class="fragment">Sorry, have to wait...</h2>
          </section>
          <section>
            <img src="assets/issue-queue-status.png" alt="Status of the issue queue" />
          </section>
          <section>
            <p>Contributors to Drupal 8</p>
            <img src="assets/drupal8-contributor-mosaic.jpg" style="height: 500px;" alt="Mosaic of D8 contributors" />
            <p class="bigtext"><span class="fragment" data-countup="1" data-countup-step="5">1903</span><span class="fragment"> and counting</span></p>
          </section>
          <section>
            <h3>Local heroes</h3>
            <ul class="contributor-list">
              <li><figure><img src="assets/drupalers-downunder/larowlan.jpg" alt="Lee Rowlands" /><figcaption>Lee Rowlands</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/beejeebus.jpg" alt="Justin Randall" /><figcaption>Justin Randall</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/kimb0.jpg" alt="Kim Pepper" /><figcaption>Kim Pepper</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/thedavidmeister.jpg" alt="David Meister" /><figcaption>David Meister</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/nick_schuch.png" alt="Nick Schuch" /><figcaption>Nick Schuch</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/lyricnz.jpg" alt="Simon Roberts" /><figcaption>Simon Roberts</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/benjy.jpg" alt="Ben Dougherty" /><figcaption>Ben Dougherty</figcaption></figure></li>
              <li><figure><img src="assets/drupalers-downunder/typhonius.png" alt="Adam Malone" /><figcaption>Adam Malone</figcaption></figure></li>
            </ul>
          </section>
          <section>
            <p>Wait, where are the Kiwis?</p>
            <img src="assets/kiwi-bird.jpg" alt="Kiwi bird" data-credit="http://www.flickr.com/photos/29856793@N05/2794832076" />
          </section>
          <section>
            <h2>WANTED: Dead or Alive</h2>
            <ul>
              <li class="fragment">Testers</li>
              <li class="fragment">Documentation</li>
              <li class="fragment">&lt;div&gt; Elimination Squad</li>
              <li class="fragment">Performance testing/profiling</li>
              <li class="fragment">PHP/Javascript developers</li>
              <li class="fragment">Accessibility gurus/users</li>
              <li class="fragment">Sysadmins/devops for testbot</li>
              <li class="fragment">Sprint hosts/sponsors</li>
            </ul>
            <aside class="notes">
              <ul>
                <li>Schedule sprints @ same time as DevDays/Midcamp: March 24-30</li>
                <li>NYCCamp: April 10-13</li>
              </ul>
            </aside>
          </section>
        </section>
        <section>
          <h2>Time to kick some ass<br />in Drupal 8</h2>
          <img src="assets/drupal8-kick-ass.jpg" alt="Drupal 8 will kick ass" style="height: 400px" />
          <p class="bigtext fragment">Together</p>
        </section>
        <section>
          <div style="width: 50%; float: left; margin-bottom: 1em;">
            <h2>Larry Garfield</h2>
            <p>Sr. Architect, <a href="http://www.palantir.net/">Palantir.net</a></p>
            <p>Making the Web a Better Place</p>
            <p>Keep tabs on our work at <a href="http://twitter.com/Palantir">@Palantir</a></p>
            <p>Want to hear about <a href="http://eepurl.com/ws6uj">what we're doing</a>?</p>
          </div>
          <div style="width: 50%; float: right; margin-bottom: 1em;">
            <h2>Jeff Eaton</h2>
            <p>Digital Strategist, <a href="http://www.lullabot.com/">Lullabot</a></p>
            <p>Lullabot links go here.</p>
          </div>
          <p>See us debate on Twitter: <a href="http://twitter.com/Crell">@Crell</a> &amp; <a href="http://twitter.com/eaton">@eaton</a></p>
        </section>
      </div>
    </div>

    <footer class="palantir-logo">
      <a href="http://www.palantir.net/"><img src="palantir/palantirnet-logo-4c-reversed.svg" alt="Palantir.net logo" height="37" /></a>
      <a href="http://www.lullabot.com/"><img src="assets/lullalogo_horizontal_red.svg" alt="Lullabot logo" height="37" /></a>
    </footer>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>
