<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Drupal 8 for the small fry</title>

    <meta name="author" content="Larry Garfield">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="palantir/palantir.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="palantir/classer.js"></script>

    <style type="text/css">

    ul.inline {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }

    ul.inline li {
      display: inline;
    }

    *.topspace {
      margin-top: 1em;
    }


    ul.contributor-list img {
      max-width: 180px;
      max-height: 180px;
      border: 0;
      background: transparent;
    }
    ul.contributor-list li {
      list-style: none;
      display: block;
      width: 180px;
      float: left;
      margin: 10px;
    }
    ul.contributor-list li:nth-child(5n) {
     clear: left;
    }

    ul.contributor li figcaption {
      text-wrap: none;
    }

    img {
      max-width: 100%;
      max-height: 80%;
    }

    .struck {
      text-decoration: line-through;
    }

    </style>

    <script src="palantir/countup.js"></script>

  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section id="title-and-intro">
          <section>
            <h1>Drupal 8 for the small fry</h1>
            <p>
              <small>Presented by <a href="http://www.garfieldtech.com/">Larry Garfield</a> / <a href="http://twitter.com/Crell">@Crell</a></small>
            </p>
          </section>
          <section>
            <h1>The Big Web</h1>
            <aside class="notes">
              <ul>
                <li>Dries' keynote kind of depressing</li>
                <li>Big web for big players</li>
                <li>Fancy features require big investment</li>
              </ul>
            </aside>
          </section>
          <section>
            [More stuff from Driesnote here]
          </section>
          <section>
            <p>Where does that leave the small player?</p>
            <img class="fragment" src="assets/osi-symbol.png" style="width: 380px; height: 380px;" alt="The logo of the Open Source Initiative" data-credit="http://opensource.org/" />
            <img class="fragment" src="assets/gnu.svg" style="width: 380px; height: 380px; background: #ffffff;  " alt="The Logo of the GNU Project" data-credit="http://gnu.org" />
            <aside class="notes">
              <ul>
                <li>This is our response. This is our pushback.</li>
                <li>Community is our secret weapon.</li>
              </ul>
            </aside>
          </section>
          <section>
            <blockquote>The right to innovate is not a privilege to be restricted to a tiny minority</blockquote>
            <p>&mdash;<a href="http://www.freesoftwaremagazine.com/articles/latin_america">Free Software Magazine</a></p>
            <p class="fragment roll-in">(A Drupal site, by the way...)</p>
            <aside class="notes">
              <ul>
                <li>Article on OSS in Latin America</li>
                <li>Open Source is how small players thrive</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Who uses Druapal?</h2>
            <img class="fragment" style="width: 40%;" src="assets/whitehousegov.png" alt="Whitehouse.gov uses Drupal" />
            <img class="fragment" style="width: 40%;" src="assets/occupy-wall-st-poster.jpg" alt="Occupy Wall St used Drupal" />
            <p class="fragment">We use Drupal</p>
          </section>
          <section>
            <h3>Needs to be approachable</h3>
            <p class="fragment">Unusable tools are useless</p>
          </section>
          <section data-state="large">
            <img src="assets/drupal-8-logo.svg" alt="Drupal 8" data-credit="https://drupal.org/node/2119739" style="width: 600px ;" />
            <aside class="notes">
              <ul>
                <li>Big changes</li>
                <li>Big new features</li>
                <li>Big system requirements</li>
                <li>Big collaboration</li>
                <li>Big news</li>
              </ul>
            </aside>
          </section>
          <section>
            <p>Big sites?</p>
            <p class="fragment">Big shops?</p>
            <p class="fragment">Big companies?</p>
          </section>
          <section>
            <p>The Point of Open Source is to give everyone big and small access to the same tools on a level playing field.</p>
            <div style="display: flex; align-items: flex-end;justify-content: space-around;">
              <span>
                <img class="fragment" src="assets/drupal-8-logo.svg" alt="Big players" data-credit="https://drupal.org/node/2119739" style="width: 400px ;" />
              </span>
              <span>
                <img class="fragment" src="assets/drupal-8-logo.svg" alt="Small players" data-credit="https://drupal.org/node/2119739" style="width: 100px ;" />
              </span>
            </div>
            <aside class="notes">
              <ul>
                <li>Drupal 8 is the best thing to happen for independent developers</li>
              </ul>
            </aside>
          </section>
        </section>
        <section id="the-new-hotness">
          <section>
            <p class="bigtext">Drupal 8 is a new generation<br />PHP framework/CMS</p>
            <aside class="notes">
              <ul>
                <li>PHP Renaissance</li>
              </ul>
            </aside>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>PHP 4 architecture</p>
                <img src="assets/php4-small.gif" style="width: 143px;" alt="PHP 4" data-credit="http://www.londonbikeandscooter.co.uk/tech.htm" />
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>PHP 5.4 architecture</p>
                <img src="assets/php5.png" style="width: 143px;" alt="PHP 4" data-credit="http://php5.phpmagazine.net/" />
              </div>
            </div>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>Everything is a Page</p>
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>Everything is a response</p>
              </div>
            </div>
            <aside class="notes">
              <ul>
                <li>Built for web services</li>
              </ul>
            </aside>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>All home grown</p>
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>Embrace other communities and tools</p>
              </div>
            </div>
          </section>
          <section>
            <div style="width: 50%; float: left;">
              <h2>Drupal 7</h2>
              <div class="fragment">
                <p>A good start for a CMS</p>
              </div>
            </div>
            <div style="width: 50%; float: right;">
              <h2 class="fragment">Drupal 8</h2>
              <div class="fragment">
                <p>Build real-world sites right away</p>
              </div>
            </div>
          </section>
        </section>
        <section id="for-builders">
          <section>
            <h1>For site builders</h1>
            <p class="bigtext fragment roll-in"><q>Build <em>real</em> sites with core</q></p>
          </section>
          <section>
            <p>Drupal 7 gave us Field API...</p>
            <p class="fragment">... Drupal 8 expands the toolbox</p>
            <ul>
              <li class="fragment">Entity Reference</li>
              <li class="fragment">Date</li>
              <li class="fragment">Link</li>
              <li class="fragment">Email</li>
              <li class="fragment">Telephone</li>
            </ul>
            <aside class="notes">
              Telephone is the last bullet.
            </aside>
          </section>
          <section>
            <h2>Views in core</h2>
            <img src="assets/drupal8-views.png" alt="Views admin in Drupal 8" class="screenshot" />
            <aside class="notes">
              <ul>
                <li>Core blocks and content lists are customizable Views.</li>
                <li>"Recent comments" block, why custom code/config? Not anymore.</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>/admin/content</h2>
            <img src="assets/drupal8-admin-content.png" alt="Content admin is now a view" class="screenshot" />
            <aside class="notes">
              <ul>
                <li>admin/content isn't an override, it's the actual view</li>
                <li>Note VBO-like functionality</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Drupal 8</h2>
            <ul>
              <li class="fragment">Content modeling</li>
              <li class="fragment">Content assembly</li>
              <li class="fragment">Content delivery</li>
            </ul>
            <p class="fragment bigtext">For everyone, out of the box</p>
            <aside class="notes">
              <ul>
                <li>Save time/money on setup</li>
                <li>Save time/money on customization</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Configuration management</h2>
            <p class="fragment roll-in">Mixing content and config == Pain</p>
          </section>
          <section>
            <h2>Features: Fail</h2>
            <p class="fragment">Poor deployment tool</p>
            <p class="fragment">...Because it's not a deployment tool</p>
            <p class="topspace fragment">Drupal 7 has no common configuration system!</p>
            <aside class="notes">
              <ul>
                <li>How much of your life have you wasted?</li>
                <li>How much of your client's money have you wasted?</li>
                <li>Why should only "enterprise" users get good staging?</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>The new Config API</h2>
            <ul>
              <li class="fragment">Real configuration API</li>
              <li class="fragment">Config import/export built in</li>
              <li class="fragment">Modules can include default config</li>
              <li class="fragment">Database is now leaner, more <em>content</em>ed</li>
            </ul>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/config-deploy.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
          </section>
          <section>
            <h2>Translation in Drupal 7</h2>
            <ul style="column-count: 2; -moz-column-count: 2; -webkit-column-count: 2;">
              <li>admin_language</li>
              <li>fallback_language_negotation</li>
              <li>l10n_install</li>
              <li>l10n_update</li>
              <li>entity_translation</li>
              <li>title</li>
              <li>variable (suite)</li>
              <li>i18n (suite)</li>
              <li>i18nviews</li>
              <li>webform_localization (et al)</li>
              <li>stringoverrides</li>
              <li>transliteration</li>
            </ul>
            <p class="fragment" style="margin-top: -4em;">And it's still incomplete!</p>
          </section>
          <section>
            <img src="assets/facepalm-paris.jpg" alt="Facepalm" data-credit="http://en.wikipedia.org/wiki/File:Paris_Tuileries_Garden_Facepalm_statue.jpg" />
          </section>
          <section>
            <h2>Translation in Drupal 8</h2>
            <p>Deeper, more robust system... <span class="fragment">in Core</span></p>
          </section>
          <section>
            <p class="bigtext">Everyone can build<br />multi-lingual sites from day 1</p>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/translation.webm" data-credit="Dries Buytaert, Acquia" />
            </video>
          </section>
        </section>
        <section id="for-editors">
          <section>
            <h1>For content editors</h1>
          </section>
          <section>
            <h2>Rich editing experience</h2>
            <ul>
              <li class="fragment">CKEditor built in</li>
              <li class="fragment">Automatic configuration, sensible defaults</li>
              <li class="fragment">Content editing forms streamlined</li>
            </ul>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/drupal-editing.webm" data-credit="Larry Garfield" />
            </video>
            <aside class="notes">
              <ul>
                <li>Easier to use out of the box</li>
                <li>Easier to use sell of the box</li>
                <li>Called quick-edit for a reason...</li>
                <li>Levels playing field for small shops, esp. vs proprietary</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>No More Overlay</h2>
            <img src="assets/d8-back-to-site.png" class="fragment" alt="The Drupal 8 Back to Site button" />
            <aside class="notes">
              <ul>
                <li>Show of hands, who always disabled overlay?</li>
                <li>We replaced 1000 lines of fugly JS hacks... with a button.</li>
                <li>JS sessionStorage: Modern browsers</li>
              </ul>
            </aside>
          </section>
          <section>
            <h1>Ultra<br />Accessibility</h1>
            <aside class="notes">
              <ul>
                <li>2010, Everett Zufelt presents on accessibility</li>
                <li>Best accessibility of any OSS platform, but could be better</li>
                <li>So we made it better...</li>
              </ul>
            </aside>
          </section>
          <section>
            <p class="bigtext">WAI-ARIA all the things!</p>
            <p class="bigtext fragment">Keyboard control</p>
            <p class="bigtext fragment">Audio. No, for serious.</p>
            <aside class="notes">
              <ul>
                <li>Have you ever felt like Drupal was trying to talk to you?</li>
              </ul>
            </aside>
          </section>
          <section>
            <p>Needs new video</p>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/drupal8-accessibility.m4v" data-credit="Dries Buytaert, Acquia" />
            </video>
            <aside class="notes">
              <ul>
                <li>Note in-place editor! Ties in with aural support.</li>
                <li>Devs have access to Drupal.announce() to speak as needed.</li>
              </ul>
            </aside>
          </section>
          <section>
            <p class="bigtext">All built in and automatic</p>
            <aside class="notes">
              <ul>
                <li>Legal requirement in some areas</li>
                <li>The right thing to do</li>
                <li>Reach more people with less effort</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>…And a new help system</h2>
            <video preload="auto" class="stretch" controls data-autoplay>
              <source src="assets/d8-tour.webm" data-credit="Larry Garfield" />
            </video>
            <aside class="notes">
              <ul>
                <li>Version controlled text files</li>
                <li>For modules or sites</li>
              </ul>
            </aside>
          </section>
        </section>
        <section id="for-themers" data-primary-speaker="larry">
          <section>
            <h1>For themers</h1>
          </section>
          <section>
            <h2>Out with the old...</h2>
            <ul class="inline">
              <li class="fragment"><img src="assets/ie6-crossed.jpg" alt="Good bye, IE 6" style="width: 250px" data-credit="http://hanifhasan91.blogspot.com/2012/11/5-prediction-web-in-2012.html" /></li>
              <li class="fragment"><img src="assets/ie-crossed.jpg" alt="Good bye, IE 7" style="width: 250px" data-credit="http://www.nursingjobs.us/blog/ie7-users-we-need-to-talk/" /></li>
              <li class="fragment"><img src="assets/ie8-crossed.jpg" alt="Good bye, IE 8" style="width: 250px" data-credit="http://www.promenadedln.com/microsoft/internet-explorer-8-offre-une-nouvelle-vision-des-sites-internet-477.html" /></li>
            </ul>
            <p class="fragment topspace">(There's an <a href="http://drupal.org/project/ie8">IE8 module</a> if you really need)</p>
          </section>
          <section>
            <h2>In with the new</h2>
            <ul class="inline fragment" style="background: white;">
              <li><img src="assets/html5-logo-wordmark.svg" alt="HTML5" style="width: 200px;" data-credit="http://commons.wikimedia.org/wiki/File:HTML5_logo_and_wordmark.svg" /></li>
              <li><img src="assets/css3-logo-wordmark.svg" alt="CSS3" style="width: 200px;" data-credit="http://ohdoylerules.com/web/css3-badge-logo-in-svg" /></li>
            </ul>
            <p class="fragment"><img src="assets/umichmed-lead.jpg" style="width: 400px;" alt="Responsive Design" data-credit="http://www.palantir.net/blog/university-michigan-medical-school-gets-responsive-treatment" /></p>
            <aside class="notes">
              <ul>
                <li>Everything is responsive out of the box.</li>
                <li>Semantic elements; header, footer, section, aside, etc.</li>
                <li>No more silly classes to duplicate CSS3 functionality.</li>
              </ul>
            </aside>
          </section>
          <section>
            <video preload="auto" class="stretch" controls data-autoplay>
              <!--<source src="assets/d8-toolbar.webm" />-->
            </video>
            <aside class="notes">
              <ul>
                <li>New toolbar, prettier than old one, includes shortcuts</li>
                <li>Modules now "Extend"</li>
                <li>Small screen, everything responsive!</li>
                <li>In vertical mode toolbar is nested</li>
                <li>Can always put toolbar in vertical if you prefer</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>HTML5 Forms</h2>
            <video preload="auto" class="stretch" controls data-autoplay>
              <!--<source src="assets/html5-fields.webm" />-->
            </video>
            <aside class="notes">
              <ul>
                <li>Did anyone notice that we just created a node from a phone???</li>
              </ul>
            </aside>
          </section>
          <section>
            <p class="bigtext">Lines of Javascript by default: <em class="fragment bigtext">0</em></p>
          </section>
          <section>
            <h2>Oh wow, such libraries!</h2>
            <div style="background: White;">
              <ul class="inline">
                <li class="fragment"><a href="http://jquery.com/"><img src="assets/jquery-logo.svg" style="width: 30%;" alt="jQuery" data-credit="http://en.wikipedia.org/wiki/File:JQuery_logo.svg" /></a></li>
                <li class="fragment"><a href="http://jqueryui.com/"><img src="assets/jquery-ui-logo.svg" style="width: 30%;" alt="jQuery UI" data-credit="http://en.wikipedia.org/wiki/File:JQuery_UI_Logo.svg" /></a></li>
              </ul>
              <div class="fragment"><a href="http://backbonejs.org/"><img src="assets/backbone-logo.png" style="width: 30%;" alt="Backbone JS" /></a></div>
              <div class="fragment"><br /><a href="http://underscorejs.org/"><img src="assets/underscore-logo.png" style="width: 30%;" alt="Underscore JS" /></a></div>
            </div>
            <aside class="notes">
              <ul>
                <li>We had jQuery and jQuery UI. Now they're at the new versions.</li>
                <li>jQuery 2.0: Faster, less legacy cruft.</li>
                <li>New tools for new fancy.</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>Twig</h2>
            <img src="assets/twig-logo.png" alt="Twig the Templating engine" />
            <aside class="notes">
              <ul>
                <li>D6: We think themers want this.</li>
                <li>D7: Maybe they want this instead? (eeek!)</li>
                <li>D8: OK, OK... what do you want? (TWIG!)</li>
                <li>Largest team of any task in Drupal 8; lots of themers</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>node.tpl.php</h2>
            <pre><code class="stretch php" data-trim>
&lt;div id="node-&lt;?php print $node->nid; ?>" class="&lt;?php print $classes; ?> clearfix"&lt;?php print $attributes; ?>>

  &lt;?php print $user_picture; ?>

  &lt;?php print render($title_prefix); ?>
  &lt;?php if (!$page): ?>
    &lt;h2&lt;?php print $title_attributes; ?>>&lt;a href="&lt;?php print $node_url; ?>">&lt;?php print $title; ?>&lt;/a>&lt;/h2>
  &lt;?php endif; ?>
  &lt;?php print render($title_suffix); ?>

  &lt;?php if ($display_submitted): ?>
    &lt;div class="submitted">
      &lt;?php print $submitted; ?>
    &lt;/div>
  &lt;?php endif; ?>

  &lt;div class="content"&lt;?php print $content_attributes; ?>>
    &lt;?php
      hide($content['comments']);
      hide($content['links']);
      print render($content);
    ?>
  &lt;/div>

  &lt;?php print render($content['links']); ?>

  &lt;?php print render($content['comments']); ?>

&lt;/div>
</code></pre>
            <aside class="notes">
              <ul>
                <li>Very verbose</li>
                <li>PHP syntax is a turnoff</li>
                <li>Easy to make security mistakes (SQL in templates)</li>
              </ul>
            </aside>
          </section>
          <section data-state="large">
            <!--<h2>node.html.twig</h2>-->
            <pre><code class="stretch twig" data-trim>
{% set classes = [
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ] %}
&lt;article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    &lt;h2{{ title_attributes }}>
      &lt;a href="{{ url }}" rel="bookmark">{{ label }}&lt;/a>
    &lt;/h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    &lt;div{{ author_attributes.addClass('node__submitted') }}>
      {% trans %}Submitted by {{ author_name|passthrough }} on {{ date|passthrough }}{% endtrans %}
      {{ metadata }}
    &lt;/div>
  {% endif %}

  &lt;div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('links') }}
  &lt;/div>

  {% if content.links %}
    &lt;div class="node__links">
      {{ content.links }}
    &lt;/div>
  {% endif %}

&lt;/article>
            </code></pre>
            <aside class="notes">
              <ul>
                <li>Worry less about security</li>
                <li>Don't need to know PHP</li>
              </ul>
            </aside>
          </section>
          <section>
            <p>And one more thing...</p>
            <p class="fragment bigtext" style="margin-top: 2em;">Now with 25% fewer divs<sup>*</sup></p>
            <p class="fragment" style="margin-top: 5em; text-align: left;"><small>* Compared to the previous leading Drupal.<br />Actual divs may vary by custom theme.<br />Offer void on IE 6.</small></p>
            <aside class="notes">
              <ul>
                <li>Still a work in progress, esp. Views</li>
                <li>If you want to help, join Morten's div-elimination army</li>
              </ul>
            </aside>
          </section>
        </section>
        <section id="for-developers" data-primary-speaker="larry">
          <section>
            <h1>For developers</h1>
            <h2 class="fragment roll-in">OOP: there it is</h2>
          </section>
          <section>
            <img src="assets/php54.png" alt="Drupal now requires PHP 5.4" />
            <aside class="notes">
              <ul>
                <li>Not just new lang features; new philosophy</li>
                <li>D7 didn't reinvent for new lang; D8 does</li>
                <li>Biggest changes are here</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2>PHP 5.4 architecture</h2>
            <ul>
              <li class="fragment">Interface-driven development</li>
              <li class="fragment">Loose coupling</li>
              <li class="fragment">"Hack core without hacking core"</li>
              <li class="fragment">Fewer Drupalisms</li>
            </ul>
          </section>
          <section>
            <img src="assets/drufony.png" alt="Drufony" width="50%" />
          </section>
          <section>
            <h3 class="nih">Not Invented Here</h3>
            <h3 class="fragment" data-classer="nih" data-classer-class="struck">Proudly Invented Elsewhere</h3>
            <img class="fragment" src="assets/pie.jpg" style="width: 75%" alt="Proudly Invented Elsewhere is tasty." data-credit="http://www.flickr.com/photos/jaypeg/300749794/" />
          </section>
          <section>
            <h2>Proudly Invented Elsewhere</h2>
            <ul>
              <li class="fragment">Symfony2 <small>(HttpFoundation, HttpKernel, DependencyInjection, EventDispatcher, Routing, Serializer, Validator, Yaml)</small></li>
              <li class="fragment">Symfony CMF</li>
              <li class="fragment">Zend Feed</li>
              <li class="fragment">Doctrine Annotations</li>
              <li class="fragment">Guzzle</li>
              <li class="fragment">EasyRDF</li>
              <li class="fragment">Twig</li>
            </ul>
          </section>
          <section>
            <h2>Plugins</h2>
            <ul>
              <li class="fragment">ctools plugins, but good</li>
              <li class="fragment"><q>Learn once, apply everywhere</q> &mdash;Lee Rowlands</li>
              <li class="fragment">Interface-driven, self-documenting</li>
            </ul>
          </section>
          <section>
            <h2>Entities/Nodes</h2>
            <p>Unified API... <span>finally!</span></p>
            <aside class="notes">
              <ul>
                <li>Fields make sense</li>
                <li>Nodes/entities are for-reals objects w/ interfaces</li>
                <li>Fiel, widgets, formatters are plugins, like everything else</li>
              </ul>
            </aside>
          </section>
          <section>
            <img src="assets/test-all-the-things.jpg" alt="Unit test ALL THE THINGS!" />
          </section>
          <section>
            <h2>PHPUnit</h2>
            <img src="assets/phpunit.png" alt="PHPUnit" />
            <aside class="notes">
              <ul>
                <li>Industry standard unit testing</li>
                <li>Blazing fast compared to Simpletest</li>
                <li>Simpletest still lives... for now</li>
                <li>If you can't PHPUnit it, you're not done</li>
              </ul>
            </aside>
          </section>
          <section>
            <p>RESTful pipeline</p>
            <p class="fragment">... HTML is just REST</p>
          </section>
          <section>
            <h2>HAL API for entities</h2>
            <video preload="auto" class="stretch" controls data-autoplay>
              <!--<source src="assets/web-services.webm" data-credit="Dries Buytaert, Acquia" />-->
            </video>
          </section>
        </section>
        <section id="preparing-for-the-future">
          <section>
            <h1>Planning to upgrade?</h1>
          </section>
          <section>
            <h2>Understand Your Site</h2>
            <ul>
              <li class="fragment">Content types and relationships</li>
              <li class="fragment">Collections and assemblies</li>
              <li class="fragment">Design elements</li>
              <li class="fragment">Editorial roles, workflow</li>
              <li class="fragment">Figure out the missing pieces in D8</li>
            </ul>
          </section>
          <section>
            <h2>Oh, and... Content.</h2>
            <ul>
              <li class="fragment">In-place upgrades for content are <em>hard</em></li>
              <li class="fragment">Contrib fields make it even trickier</li>
              <li class="fragment">Most large sites rebuild and migrate</li>
            </ul>
          </section>
          <section>
            <h2>Migrate!</h2>
            <img class="fragment" src="assets/migration-kenya.jpg" alt="Migration" data-credit="http://www.flickr.com/photos/jameshammond/8733249464" />
            <p class="fragment">Content migration system in core</p>
            <p class="fragment">Migrate directly from Drupal 6 (Drupal 7 soon)</p>
            <p class="fragment">Migrate from any CMS, DB, etc…</p>
          </section>
        </section>
        <section id="how-to-help">
          <section>
            <h2>Want Drupal 8 yet?</h2>
            <h2 class="fragment">Sorry, have to wait...</h2>
          </section>
          <section>
            <img src="assets/issue-queue-status.png" alt="Status of the issue queue" />
          </section>
          <section>
            <p>Contributors to Drupal 8</p>
            <img src="assets/drupal8-contributor-mosaic.jpg" style="height: 500px;" alt="Mosaic of D8 contributors" />
            <p class="bigtext"><span class="fragment" data-countup="1" data-countup-step="5">1984</span><span class="fragment"> and counting</span></p>
          </section>
          <section>
            <h2>WANTED: Dead or Alive</h2>
            <ul>
              <li class="fragment">Testers</li>
              <li class="fragment">Documentation</li>
              <li class="fragment">&lt;div&gt; Elimination Squad</li>
              <li class="fragment">Performance testing/profiling</li>
              <li class="fragment">PHP/Javascript developers</li>
              <li class="fragment">Accessibility gurus/users</li>
              <li class="fragment">Sysadmins/devops for testbot</li>
              <li class="fragment">Sprint hosts/sponsors</li>
            </ul>
          </section>
        </section>
        <section id="kick-ass">
          <h2>Drupal 8 is going to kick-ass</h2>
          <img src="assets/drupal8-kick-ass.jpg" alt="Drupal 8 will kick ass" style="height: 400px" />
          <p class="bigtext fragment">Together</p>
          <aside class="notes">
            <ul>
              <li>Better for us</li>
              <li>Better for clients</li>
              <li>Better for PHP</li>
            </ul>
          </aside>
        </section>

        <section>
          <img src="assets/drupal-8-logo.svg" alt="Drupal 8" data-credit="https://drupal.org/node/2119739" style="width: 650px ;" />
        </section>

        <section id="final">
          <div>
            <h2>Larry Garfield</h2>
            <p><a href="http://www.palantir.net/">Palantir.net</a></p>
            <q>Let's make something good together</q>
            <p>Keep tabs on our work at <a href="http://twitter.com/Palantir">@Palantir</a></p>
            <p><a href="http://www.palantir.net/phpworld2014">For more information</a></p>
          </div>
        </section>

      </div>
    </div>

    <footer class="palantir-logo">
      <a href="http://www.palantir.net/"><img src="palantir/palantirnet-logo-4c-reversed.svg" alt="Palantir.net logo" height="37"/></a>
    </footer>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>
